.sidebar {
    width: 200px;
    background-color: #f4f4f4;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
  }
  
  .sidebar ul li a {
    text-decoration: none; /* Remove text decoration */
    color: #333;
  }
  
  .sidebar ul li a:hover {
    color: #007bff;
  }
  
  .dropdown-content {
    display: none;
    background-color: #fff;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-content li {
    padding: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  