.signup-container{
    display: flex;
    justify-content: space-between;
   align-items: center;
  
}
.signup-img-container{
    width: 45%;
    overflow: hidden;
}
.signup-img-container img{
    width: 100%;
    height: 100vh;
   object-fit: cover;
}

.sign-up-content-container{
    width: 50%;
}
.container-wrapper{
    padding-right: 1rem;
}
.group{
    width: 20%;
    
}
.container-wrapper h2{
    padding-bottom: 1rem;
    font-size: 2rem;
}